.previewImage{
    height: 75vh;
    min-width: 400px;
    border-radius: 10px;
}
.closeBtn{
    margin:10px;
    border:none;
    outline:none;
    /* font-weight: lighter; */
}
.closeBtn:active{
    border:none;
    outline:none;
    /* font-weight: normal; */
}