.sidebarHome {
    position:relative;
    top:10%;
    padding-left: 40px;
    /* left:10%; */
   
    /* bottom: 54.99%; */
    /* display: flex; */
    /* align-items: left; */
    /* flex-direction: column; */
  }
  
  .logoImg {
    padding: 0px 5px;
    background-color: white;
    border-radius: 13px;
    height: 72px;
    width: 72px;
  }
  /* @media (max-height: 600px) {
    .logoImg {
      padding: 4px 10px;
      background-color: white;
      border-radius: 13px;
      height: 72px;
      width: 57px;
    }
  } */
  
  .QCText {
    font-weight: bold;
    font-size: 21px;
    color: #ffffff;
    padding: 8px 0px;
  }
  
  .dbText {
    color: white;
    font-size: 10px;
  }
  
  .homeText {
    color: white;
    padding: 50px 0px 0px 0px;
    font-size: 22px;
    font-weight: bold;
  }
  
  .homeHover{
    cursor:pointer;
  }